.home.container {
  height: 100vh;
}

.song-form {
  height: 100%;
}
.song-form {
  background: white;
}
/* medium */
@media screen and (min-width: 600px) {
  .song-form-row {
    width: 85%;
  }
}

/* large */
@media screen and (min-width: 992px) {
  .song-form-row {
    width: 60%;
  }
}
