body {
  font-family: 'Lato', sans-serif;
}
.home {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
}

.home > * {
  z-index: 1000;
}

.song-request {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.figures-wrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  overflow: hidden;
  display: none;
}

.figures-wrapper__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.figure {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
}

.figure.one {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  top: 13%;
  left: -4%;
}

.figure.two {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-bottom: 78px solid transparent;
  border-left: 180px solid rgba(255, 255, 255, 0.08);
  bottom: 8%;
  left: 11%;
  background-color: transparent;
  transform: rotate(-46deg);
}

.figure.three {
  width: 75px;
  height: 150px;
  top: 55%;
  left: -1%;
  transform: rotate(-75deg);
}

.figure.four {
  width: 75px;
  height: 150px;
  top: 55%;
  left: -1%;
  transform: rotate(-75deg);
}

.figure.five {
  width: 250px;
  height: 250px;
  bottom: 17%;
  right: 4%;
  border-radius: 100%;
}

.figure.six {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 160px solid rgba(255, 255, 255, 0.08);
  top: 9%;
  right: 24%;
  background-color: transparent;
  transform: rotate(135deg);
}

.figure.seven {
  width: 140px;
  height: 140px;
  bottom: 4%;
  right: -2.1875rem;
  border-radius: 100%;
}

.welcome {
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome--section {
  line-height: 60px;
  text-align: center;
  letter-spacing: 0;
}

.welcome__heading {
  font-size: 5rem;
  margin: 0 0 32px;
  font-weight: 600;
}

.welcome__text {
  max-width: 600px;
  font-size: 2.375rem;
  margin-bottom: 32px;
  font-weight: 300;
}

.welcome__button {
  height: 54px;
  min-width: 223px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 1.175rem;
  text-align: center;
  line-height: 100%;
  box-shadow: 0 12px 24px rgba(34, 51, 49, 0.13);
  background: transparent;
  width: 40%;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.8s;
}

.welcome__button:hover,
.welcome__button:focus,
.welcome__button:active {
  color: #38ba8a;
  background: white;
  border: none;
  min-width: 300px;
}

.song-request__heading {
  color: #38ba8a;
  font-size: 3.5rem;
  letter-spacing: 0;
  line-height: 64px;
  margin: 0 0 16px;
  font-weight: bold;
}

/*  dashboard */

nav {
  margin-bottom: 1em;
  background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
}

.relative {
  position: relative;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
}

.mt-1 {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

table p label span.pl-20px {
  padding-left: 20px !important;
}

.edit-btn {
  margin-right: 10px;
}

.card-panel:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.stat.card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.stat-title,
.stat-value {
  font-weight: 600;
}
.stat-value {
  font-size: 5em;
  margin-top: -10px;
  margin-bottom: -10px;
}

.stat-title {
  color: gray;
}

.dashboard-header {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 2.5em;
}

/* medium */
@media screen and (min-width: 600px) {
  nav .brand-logo {
    padding-left: 20px;
  }
  .song-form-row {
    width: 85%;
  }
  .hide-s {
    display: block;
  }

  .figures-wrapper {
    display: block;
  }
}

/* large */
@media screen and (min-width: 992px) {
  .song-form-row {
    width: 60%;
  }
}
