body {
  overflow: hidden;
}

.vh-95 {
  height: 95vh;
}
.hide-s {
  display: none;
}

.banner {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(https://via.placeholder.com/2000x1000.png?text=Sample+Image);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.relative {
  position: relative;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
}

.mt-1 {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

table p label span.pl-20px {
  padding-left: 20px !important;
}

.stat.card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.stat-title,
.stat-value {
  font-weight: 600;
}
.stat-value {
  font-size: 5em;
  margin-top: -10px;
  margin-bottom: -10px;
}

.stat-title {
  color: gray;
}

.dashboard-header {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 2.5em;
}

/* medium */
@media screen and (min-width: 600px) {
  .song-form-row {
    width: 85%;
  }
  .hide-s {
    display: block;
  }
}

/* large */
@media screen and (min-width: 992px) {
  .song-form-row {
    width: 60%;
  }
}
